$primary-color: #4CAF50;
$secondary-color: #81C784;
$light-color: #f5f5f5;
$grey-color: #898989;
$dark-color: #333;

$font-main: 'Segoe UI', sans-serif;

$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
);
