$primary-color: #0077cc;
$secondary-color: #a34100;
$light-color: #eaeaea;
$grey-color: #898989;
$dark-color: #3b3b3b;

$font-main: 'Segoe UI', sans-serif;

$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;
