@use '../utils/variables' as variables;
#home {
  padding: variables.$space-lg variables.$space-md;
  background-color: variables.$light-color;
  text-align: center;
}

#consejos {
  background-color: variables.$dark-color;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url('../assets/img/hero_background.jpg') center/cover no-repeat;
  color: white;
  padding: variables.$space-lg variables.$space-md;
  text-align: center;
  h2 {
    margin-bottom: variables.$space-md;
    text-decoration: underline;
  }
  li {
    text-align: left;
    margin: variables.$space-sm;
  }
}
#nosotros {
  background-color: variables.$light-color;
  padding: variables.$space-lg variables.$space-md;
  text-align: center;
  h2 {
    margin-bottom: variables.$space-md;
    text-decoration: underline;
  }
  li {
    text-align: left;
    margin: variables.$space-sm;
  }
}
#historias {
  background-color: variables.$light-color;
  padding: variables.$space-lg variables.$space-md;
  text-align: center;
  h2 {
    margin-bottom: variables.$space-md;
    text-decoration: underline;
  }
  li {
    text-align: left;
    margin: variables.$space-sm;
  }
  p {
    text-align: center;
    margin: variables.$space-sm;
  }
}