@use '../utils/variables' as variables;
@use '../utils/mixins' as mixins;
.info {
    padding: 4rem 2rem;
  
    .section-title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .section-description {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
  
      @include mixins.respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .card {
        background: white;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
  
        img {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 1rem;
        }
  
        h3 {
          color: variables.$primary-color;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  