@use '../utils/variables' as variables;
body {
  font-family: variables.$font-main;
  color: variables.$dark-color;
  line-height: 1.6;
  background-color: variables.$light-color;
}
h1, h2, h3 {
  color: variables.$primary-color;
  text-shadow: 1px 1px 1px variables.$dark-color;
}
